<div class="home-page">
    
  <div class="backgroundImage">
    <div class="d-flex justify-content-between pt-3">
      <div class="ps-4 col-2">
        <img src="../../../assets/Close.png" alt="" />
      </div>
      <div class="col-8"><p class="colorText pt-1">Share Product</p></div>
    </div>
    <div class="d-flex justify-content-start pt-3">
      <div class="ps-4">
        <img src="../../../assets/Rectangle 3.png" alt="" />
      </div>
      <div
        class="ps-4 d-flex justify-content-center align-items-centers flex-column"
      >
        <div class="pb-2 colorTexts">Pine Forest Candle</div>
        <div class="py-2 d-flex align-items-centers">
          <div><img src="../../../assets/Star.png" alt="" /></div>
          <p class="ratePar">4.9 (100 Reviews)</p>
        </div>
        <div class="pb-2 colorTexts d-flex justify-content-between"><div> MYR49.00s </div> <div><img src="../../../assets/Heart.svg" alt=""></div></div>
      </div>
    </div>
    <div class="d-flex pt-5 justify-content-around align-items-centers">
      <div>
        <div class="p-1 backgroundIcon">
          <img src="../../../assets/Copy.svg" alt="" />
        </div>
        <div class="d-flex justify-content-center align-items-centers">
          <p class="nameIcon">Copy Info</p>
        </div>
      </div>
      <div>
        <div class="p-1 backgroundIcon">
          <img src="../../../assets/Link.svg" alt="" />
        </div>
        <div class="d-flex justify-content-center align-items-centers">
          <p class="nameIcon">Copy Link</p>
        </div>
      </div>
      <div>
        <div class="p-1 backgroundIcon">
          <img src="../../../assets/Message.svg" alt="" />
        </div>
        <div class="d-flex justify-content-center align-items-centers">
          <p class="nameIcon">Message</p>
        </div>
      </div>
      <div>
        <div class="p-1 backgroundIcon">
          <img src="../../../assets/Email.svg" alt="" />
        </div>
        <div class="d-flex justify-content-center align-items-centers">
          <p class="nameIcon">Email</p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-around align-items-centers">
      <div>
        <div class="p-1 backgroundIcon">
          <img src="../../../assets/Facebook (1).svg" alt="" />
        </div>
        <div class="d-flex justify-content-center align-items-centers">
          <p class="nameIcon">Facebook</p>
        </div>
      </div>
      <div>
        <div class="p-1 backgroundIcon">
          <img src="../../../assets/Twitter.svg" alt="" />
        </div>
        <div class="d-flex justify-content-center align-items-centers">
          <p class="nameIcon">Twitter</p>
        </div>
      </div>
      <div>
        <div class="p-1 backgroundIcon">
          <img src="../../../assets/Linkedin.svg" alt="" />
        </div>
        <div class="d-flex justify-content-center align-items-centers">
          <p class="nameIcon">LinkedIn</p>
        </div>
      </div>
      <div>
        <div class="p-1 backgroundIcon">
          <img src="../../../assets/Dotted.svg" alt="" />
        </div>
        <div class="d-flex justify-content-center align-items-centers">
          <p class="nameIcon">More</p>
        </div>
      </div>
    </div>
  </div>
</div>
